# MATLAB dosyalarını dil istatistiklerinde en üste taşı
*.m linguist-language=MATLAB

# PDF ve Dokümantasyon dosyalarını dil hesaplamasından tamamen çıkar
*.pdf linguist-documentation
*.md linguist-documentation
docs/* linguist-documentation
