# MATLAB dosyalarını kod olarak işaretle
src/**/*.m linguist-language=MATLAB

# Dokümantasyon ve raporları istatistikten TAMAMEN çıkar
docs/* linguist-documentation
*.pdf linguist-vendored
*.md linguist-vendored
