# MATLAB dosyalarını kod olarak işaretle
src/**/*.m linguist-language=MATLAB

# Dokümantasyon klasörünü istatistikten tamamen çıkar
docs/* linguist-documentation
technical_report_inrim.pdf linguist-vendored
*.md linguist-vendored
